@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    @Html.Partial("Global/SEO");
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/vendor/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Assets/styles/main.css">

</head>

<body>
    @Html.Partial("Global/Header");
    @RenderBody()
<<<<<<< HEAD
 
=======

    @Html.Partial("Global/Signup")
>>>>>>> 7a0d2a467662cdcbc7bd7f6bdb7f5a7d6b362112
    @Html.Partial("Global/Partners")
    @Html.Partial("Global/Footer")
</body>
</html>
